.sub-title {
  margin: 2rem 0;
  font-weight: 400;
  font-size: 2.5rem;
}

.title {
  font-size: 5rem;
  text-align: center;
  margin: 5rem 0;
}

.section-with-image {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}

.section-with-image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.section-with-image ul li {
  margin-bottom: 1rem;
}

.body-image-container {
  width: 90rem;
  height: 40rem;
  border-radius: 3rem;
  overflow: hidden;
}

.body-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
}

.section-without-image {
  padding: 1rem 0;
}

.section-without-image p,
.section-without-image ul li {
  margin-bottom: 1rem;
}

.section-without-image h3 {
  font-size: 2rem;
  margin: 2rem 0;
}
