.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 2rem 0;
}

.logo {
  height: 43px;
}

.navbar-items {
  display: flex;
  gap: 2rem;
}

.navbar-items button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0;
  background-color: transparent;
  border: none;
  opacity: 0.7;
  transition: opacity 1s ease-in-out, transform 0.5s ease;
}

.navbar-items button:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.02);
}

.footer {
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}
